<!doctype html>
<html lang='en' ng-app='myApp'>
<head>
<meta charset='utf-8'>
<title>Angular way</title>
<link rel='stylesheet' type='text/css' href='normalize.css'><script src='angular.js'></script>
<script> 
var myApp=angular.module('myApp',[]);myApp.controller('MainCtrl',['$scope',function($scope){$scope.text='Hello, Angular fanatic.';}]);
 myApp.controller('UserCtrl',['$scope',function($scope){$scope.user={};$scope.user.details={"username":"Samuel Adewole","id":"89101112"};}]); 
 myApp.controller('TweetCtrl',['$scope',function($scope){$scope.myModel='140';}]); 
 myApp.filter('color',function(){return function(input){var out='';if(input.length>10){out='green';}else{out='red';}return out;}}); 
</script> 
<style type='text/css'>.green{color:'green'}.red{color:'red'}</style>
</head>
<body>  <p>nothing here
{{'yet' + '!'}}</p>
 <div ng-controller="MainCtrl">         {{ text }}    </div>
<div ng-controller="UserCtrl">
<p class="username">Welcome, {{ user.details.username }}</p>
<p class="id">User ID: {{ user.details.id }}</p>
</div>
 <a class="custom-button">Click me</a> 
 <input type="text"ng-model="myModel"placeholder="Start typing..."/><p class="{{ myModel|color }}" >{{ 140-myModel.length}}</p> <a href=""ng-click="toggle = !toggle">Toggle nav</a><ul ng-show="toggle"><li>Link 1</li><li>Link 2</li><li>Link 3</li></ul> </body></html>
