<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/normalize.css" rel="stylesheet">
    
    <link href="stylesheets/base.css" rel="stylesheet">

  </head>
  <body>
  <div class="container">
<nav>
<li>Home</li>
<li>Products</li> <li>Testimonies</li> <li>Contact</li> <li>About</li> 
</nav> 
<div class="slide"> 
<p>developers</p>
<span  class="date">2014</span> 


</div> 
<div class="main">
<p>Mission Statement</p>
<p> We stand for excellence.We strive for excellence.We ensure that we deliver top quality softwareceverytime because we single out each project and make sure we use the best technology available to create awesome products.</p>
</div>
<div class="sidebar"><p>Contact Us</p>
<form method="POST" >
<label>Full Name</label><input type="text"/> <label>EmailAddress</label><input type="text"/> 
<label>Message </label><input type="text"/>
<input type="submit" value="Send us that Email">
</form>
<p>We are very social</p>
<p>fb  twitter digg myspace</p>
</div>
 
<div class="our-apps">
<p>Random list of some apps we have created for fun or profit</p>
 
<li> Drink the hoop</li> 
<li>Find the hostages</li> 
<li>Gmaps?</li> 
<li> Cloudsave</li> 
<li>nairamoney</li> 
<li>Truecart</li> 
<li> Vinebranches</li> 
<li>Looney looney</li> 
</div> 
 
<div class="tools">
 
<p>Tools we have used on previous projects</p>
<li> Python</li> 
<li>Django</li> 
<li>Html5</li> 
<li> Javascript</li> 
<li>Jquery</li> 
<li>Css3</li> 
<li> Node.js</li> 
<li>Tornado</li> 
<li>Angularjs</li> 
</div> 
<div class="showcase">
<p>Sponsors</p>
<li> Techstuff</li> 
<li>Techthis</li> 
<li>Techthat</li> 
</div> 
</div>
<footer> <p>&copy 2014</p></footer>
  </body>
</html>