<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="stylesheets/normalize.css" rel="stylesheet">
    
    <link href="stylesheets/base.css" rel="stylesheet">

  </head>
  <body>
   <%- partial('header.ejs') %>
    <%- body %>
  </body>
</html>