html{
background-color:rgb(255,20,20);
}
body{
}

.container{
margin-top:50px;
margin-right:auto;
margin-left:auto;
width:90%;
background-color:white;
}
nav{
height:50px;
width:100%;
background-color:white;
}
nav li{
margin-top:auto;
margin-bottom:auto;
display:inline;
width:auto;
}
.slide{
height:300px;
background-color:brown;
width:100%;
}
.slide p{ 
text-align:center;
margin-top:0px;
font-size:200%;}
.date{
background-color:rgba(0,0,0,0.9);
color: white;
position:absolute;
z-index:3;
left:2%;
top:300px;
font-size:400%;

}
.main{
width:54%; 
padding:0% 3% 0% 3%; 
background-color:rgb(220,220,220);
float:left;
height:500px;
}

.sidebar{
width:40%;
float:right;height:500px;
 
background-color:rgb(255,255,255);
 
}
.our-apps{
width:100%;
clear:both;
padding-top:10px;
padding-bottom:10px;
 background-color:rgb(240,240,240);
}
 
.our-apps li{ display:inline;} 

.tools{ 
width:100%;
 background-color:rgb(230,230,230);
 
padding-top:10px;
padding-bottom:10px; 
}
.tools li{ display:inline;} 
.showcase{ 
width:100%;
 background-color:rgb(240,240,240);
 padding-top:10px;
padding-bottom:10px;
}
.showcase li{ display:inline;}
footer{
position:relative;
margin-top:150px;
background-color:rgb(214,214,214);
padding-top:30px;
padding-bottom:30px;
text-align:center;
}

@media screen  and (min-width:1200px){
.container{ width:90%;}
}
@media screen and (max-device-width:600px){
.container{ width:99%;}
}
